* {
  padding: 0;
  margin: 0;
  font-family:'Josefin Sans', sans-serif;
}

body {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 60px;
}

h1,
div {
  text-align: center;
}

div {
  font-size: 20px;
}

img {
  max-width: 15vw;
  align-self: center;
}

ul {
  font-size: 15px;
}

li {
  margin-bottom: 10px;
}

li button {
  font-size: 12px;
  margin-left: 20px;
  color: #666;
}